@import "./variables";
@import "./mixin";

.text-info{
  font-family: $font-text;
  font-size: 1.6rem;
  letter-spacing: 1px;
  color:$grey-font;
}
.navbar{
  background: transparent;
  transition: background-color 200ms linear;

  border: 0;
  .logo{
    width: 80px;
  }
  #navbar{
    font-family: $font-heading;
    font-size: 2.0rem;
    ul{
      li{
        &.active{
          a{
            background: transparent;

          }
          &::after{
            width: 100%;
          }
        }
        a{
          color:$grey-font !important;
          line-height: 49px;
          font-weight: 700;

        }
        &::after{
          content:'';
          display: block;
          width: 0;
          height: 2px;
          position: relative;
          height: 3px;
          background: $red-accent;
          transition: width .3s;
        }
      }
    }
  }
}


#hero-section{
  @include typed;
  min-height: 550px;
  padding: 150px 0px 0px  0px;
  background: url(/images/hero.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  .hero-text{
    font-family: $font-heading;
    font-size: 5.7rem;
    #sub-about{
      font-size: 3.0rem;
      transition: visibility 0s, opacity 0.5s linear;
      visibility: hidden;
      opacity: 0;
      display: block;
    }
  }
  .btn{
    margin-top: 20px;
    color:$white-accent;
    font-family: $font-heading;
    &.btn-head-hunter{
      background: $red-accent;
    }
    &.btn-customer{
      background: $blue-accent;
    }
  }
  .page-scroll{
    i{
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      display: block;
    }
   &:hover{
     i{
       padding-top: 10px;
     }
   }
    a{

      text-decoration: none;
      color:$grey-font;
      padding: 50px 0px;
      position: relative;
      font-size: 1.8rem;
      font-weight: bold;
      font-family: $font-heading;
      display: block;
    }
  }
  & *{
    position: relative;
  }
}
.overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  opacity: 0.6;
  z-index:0;
  background-image: url(/images/alpha.png);
}
#mapkit-4923 {
    min-height:400px;
}



#what-ido{
  @include  section-padding;
  @include  setion-heading;
  @include  sub-headers($red-accent);
  p{
    @extend .text-info;
  }
  #ui-design{
    @include image-thumb('/images/ui.gif');
  }
  #webapp{
    @include image-thumb('/images/webapp.gif');
  }
  #weekend-hack{
      @include image-thumb('/images/hack.gif');
  }
}

#projects {
  position: relative;
  hr{

   border-top: 1px solid $grey-dark;

  }
  @include  section-padding;
  @include  setion-heading;
  @include  sub-headers($red-accent);
  p{
    @extend .text-info;
  }

  #emergencyph{
      @include image-thumb('/images/emergencyph.png');
  }
  #goodchoice{
      @include image-thumb('/images/goodchoice.png');
  }
  #cordova-jayme{
      @include image-thumb('/images/cjc.png');
  }
  &::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    background: $grey-light;
    transform: skew(0,-12deg);
  }
  & *{
    position: relative;
  }
}
#testi{
  @include  section-padding;
  @include  setion-heading;
  @include  sub-headers($red-accent);
}

#helpyou{
  background: $blue-accent;
  @include  section-padding;
  @include  setion-heading;
  .section-main-heading , .section-sub-heading{
    color:#fff;
  }

  @include  sub-headers($white-accent);
  h3{
    letter-spacing: 1px;
    line-height: 35px;
  }
}

footer{
  #contact-form-section{
    #sub-details{
      .business-headshot{
        border: 5px solid $white-accent;
        box-sizing: border-box;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        margin: -60px auto 0px auto;
        img{
          width: 100%;
          filter: grayscale(100%);
          border-radius: 50%;
          &:hover{
            filter: none;
          }
        }
      }
      #phone-num{
        display: inline-block;
        margin-top: 20px;
        &.label{
          background: transparentize($blue-accent, 0.3);
          font-size: 1.6rem;
        }
        &.label:hover{
          background: $blue-accent;
        }
        font-family: $font-heading;
      }
    }

    #client-details{
      padding: 40px 0px;
      #client-sub-details{
        input{
          margin-bottom: 10px;
        }
      }
      .btn{
        background: transparentize($blue-accent, 0.3);
        color:$white-accent;
        font-family: $font-heading;
        &:hover{
          background: $blue-accent;
        }
      }
    }

  }
  #sub-footer{
    #logo-copyright{
      padding: 80px 0px 10px 0px;
      .footer-logo{
        width: 40px;
      }
      #copyright{
        font-family: $font-heading;
        font-size: 1.8rem;
        display: block;
        color:$grey-font;
        margin: 20px 0px;
      }
    }
    #social-media-links{
      margin-top: 20px;

      padding-bottom: 80px;
      li{
          display: inline;
          a{
            display: inline-block;
            color: transparentize($white-accent, 0.1);
            text-decoration: none;
            margin: 0 4px;
            height: 36px;
            width: 36px;
            font-size: 1.6rem;
            line-height: 2.3;
            background-color:transparentize($blue-accent, 0.3);
            border-radius: 50px;
            -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            &:hover{
              background: $blue-accent;
            }
          }
      }
    }
  }
}
