$font-heading : Montserrat, sans-serif;
$font-text    : Neuton, serif;
$blue-accent  : #0089e1;
$red-accent   : #f02f72;
$grey-dark    : #90A4AE;
$grey-light   : #ECEFF1;
$grey-font    : #263238;
$white-accent : #fff;
