<footer>
<div id="mapkit-4923" class="col-sm-12"></div>



<div id="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <img src="/images/logo.png" class="footer-logo" alt=""><br>
        <span>&#169; 2017 Pepito.Raviz Jr</span>
      </div>
    </div>
  </div>
</div>
</footer>
</body>
</html>
