<section id="helpyou">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-8 col-sm-offset-2">
        <h2><span class="section-main-heading">How may I help you ?</span><span class="section-sub-heading">send me a message</span></h2>
        <h3 class="sub-header"><span>I'm currently accepting new projects and would like to hear how may I help you. Please don't bother to tell me about it</span></h3>
        <button type="button" class="btn btn-default btn-lg"> Send me a message</button>
      </div>
    </div>
  </div>
</section>
