<!-- =========================  HERO START ============================ -->
<section id="hero-section">
  <div class="container text-center">
    <h1 class="hero-text">
      <span>Hi, Im Pete.I design wondrous</span><br>
      <span>web application</span>
    </h1>
    <div class="contact-btn">
      <button type="button" class="btn btn-round btn primary">I need a website</button>
      <button type="button" class="btn btn-round btn primary">I'm looking to hire</button>
    </div>
    <div class="page-scroll">
      <a href="#">Learn more about me</a>
    </div>
  </div>
</section>

<!--  ====================== HERO END ==================== -->
