<section id="testi">
  <div class="container">
    <div class="row text-center">
      <h2><span class="section-main-heading">Testimonials</span><span class="section-sub-heading">What people say about me</span></h2>
    </div>
    <div class="col-sm-12 text-center">
      <h2>Testimonials</h2>
    </div>
  </div>
</section>
