<section>
  <div class="container">
    <div class="row text-center">
      <h2><span>Testimonials</span><br><span>What people say about me</span></h2>
    </div>
    <div class="col-sm-12 text-center">
      <h2>Testimonials</h2>
    </div>
  </div>
</section>
