<section id="what-ido">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="row">
          <h2 class="text-center"><span class="section-main-heading">What I do</span><span class="section-sub-heading">most of the time</span></h2>
        </div>
        <!--  ===================== UI DESIGN START ======================== -->
        <div class="row">
          <div class="col-sm-6 col-sm-push-6">
            <div id="ui-design"></div>
          </div>
          <div class="col-sm-6 col-sm-pull-6">
            <h3 class="sub-header">UI Design</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
        <!--  ================== UI DESIGN END =============================== -->
        <!--  ================= WEB APPLICATION START ======================== -->
        <div class="row">
          <div class="col-sm-6">
            <div id="webapp"></div>
          </div>
          <div class="col-sm-6">
            <h3 class="sub-header">Web Applications</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
        <!--  ================= WEB APPLICATION END ======================== -->
        <!--  ===================== WEEKEND  START ======================== -->
        <div class="row">
          <div class="col-sm-6 col-sm-push-6">
            <div id="weekend-hack"></div>
          </div>
          <div class="col-sm-6 col-sm-pull-6">
            <h3 class="sub-header">Weekend Hacks</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
        </div>
        <!--  ================== WEEKEND END =============================== -->
      </div>
    </div>
  </div>
</section>
